### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [5]:
pdict = {'Number of Players' : [purchase_data['SN'].count()]}
players = pd.DataFrame(pdict)
players

   Number of Players
0                780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
purchasedict = {
    'Number of Unique Items': [purchase_data['Item Name'].count()], 'Average Price': [purchase_data['Price'].mean()],
    'Number of Purchases': [purchase_data['Price'].count()],
    'Total Revenue': [purchase_data['Price'].sum()]
}
purchasedata = pd.DataFrame(purchasedict)
purchasedata

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     780       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
gen = purchase_data['Gender'].value_counts()
gendf = pd.DataFrame(gen)
percent = (purchase_data['Gender'].value_counts() / (purchase_data['Gender'].count())) * 100
gendf['Percent of Players'] = percent
gendf = gendf.rename(columns={
    'Gender': 'Total',
})
gendf

                       Total  Percent of Players
Male                     652           83.589744
Female                   113           14.487179
Other / Non-Disclosed     15            1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
newgendf = purchase_data.groupby('Gender')

player_count = newgendf['SN'].count()
playerdf = pd.DataFrame(player_count)

avg_price = newgendf['Price'].mean()

total_gen_purchase = newgendf['Price'].sum()

avgtotal = total_gen_purchase / player_count

playerdf['Average Price'] = avg_price
gen_purchase_df = pd.DataFrame(playerdf)
gen_purchase_df = gen_purchase_df.rename(columns={
    'SN': 'Purchase Count',
})


gen_purchase_df['Total Purchase Price'] = total_gen_purchase

gen_purchase_df['Average Total'] = avgtotal

gen_purchase_df

,Purchase Count,Average Price,Total Purchase Price,Average Total
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
bin_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
purchase_data['Age Ranges'] = pd.cut(purchase_data['Age'],
                                     bins, labels=bin_names)
totals = purchase_data['Age Ranges'].value_counts()
percents = totals / purchase_data.count()[0] * 100
age_df = pd.DataFrame({"Total Count": totals, "Percentage of Players": percents})
age_df = age_df.sort_index()
age_df

       Total Count  Percentage of Players
<10             32               4.102564
10-14           54               6.923077
15-19          200              25.641026
20-24          325              41.666667
25-29           77               9.871795
30-34           52               6.666667
35-39           33               4.230769
40+              7               0.897436

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=bin_names)
total = purchase_data.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
average = purchase_data.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
count = purchase_data.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")
avgtotal = total / age_df['Total Count']
newagedf = pd.DataFrame({"Purchase Count": count, "Average Purchase Price": average, "Total Purchase Value": total, "Average": avgtotal})
newagedf = newagedf.sort_index()
newagedf

,Purchase Count,Average Purchase Price,Total Purchase Value,Average
Age Ranges,,,,
<10,32,3.405000,108.96,3.405000
10-14,54,2.900000,156.60,2.900000
15-19,200,3.107800,621.56,3.107800
20-24,325,3.020431,981.64,3.020431
25-29,77,2.875584,221.42,2.875584
30-34,52,2.994423,155.71,2.994423
35-39,33,3.404545,112.35,3.404545
40+,7,3.075714,21.53,3.075714

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
newtotal = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
newaverage = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
newcount = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
newdf = pd.DataFrame({"Total Purchase Value": newtotal, "Average Purchase Price": newaverage, "Purchase Count": newcount})
newdf.sort_values("Total Purchase Value", ascending=False).head(5)

             Total Purchase Value  Average Purchase Price  Purchase Count
SN
Lisosia93                   18.96                3.792000               5
Idastidru52                 15.45                3.862500               4
Chamjask73                  13.83                4.610000               3
Iral74                      13.62                3.405000               4
Iskadarya95                 13.10                4.366667               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
populardf = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]
total_item = populardf.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item = populardf.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = populardf.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
item_pd = pd.DataFrame({"Total Purchase Value": total_item, "Item Price": average_item, "Purchase Count": item_count})

item_pd.sort_values("Purchase Count", ascending=False).head(5)

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.23,12
145,Fiery Glass Crusader,41.22,4.58,9
108,"Extraction, Quickblade Of Trembling Hands",31.77,3.53,9
82,Nirvana,44.10,4.90,9
19,"Pursuit, Cudgel of Necromancy",8.16,1.02,8

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [26]:
item_pd.sort_values("Total Purchase Value", ascending=False).head(5)

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.23,12
82,Nirvana,44.10,4.90,9
145,Fiery Glass Crusader,41.22,4.58,9
92,Final Critic,39.04,4.88,8
103,Singed Scalpel,34.80,4.35,8

One trend observed in the data was that the vast majority of players (almost 84%) were male. Another was that the largest share of purhases was made by people in the 20 - 24 age group, who made up over 40% of the total. A third trend was that female players spent a higher amount on average than male players despite maing up a minority of players.